
body{
  background: lightgray;
}
.main-container{
  width: 90%;
  margin-top:50;
  height: 100%;
  margin-left: 110px;
}

.profile-container{
  display: inline-block;
  width: 996px;
  height:100%;
  background:lightgray;
  margin-right: 18px;
  vertical-align:top;
}
.profile-background{
  width: 100%;
  height: 198px;
  background-image: url('1.png');
  margin-bottom: 8%;
}


.profile-img{
  position: absolute;
  width : 152px;
  height: 152px;
  border-radius: 50%;
  border:3px solid;
  border-color: white; 
  bottom: 76px;
  right:125px;
  top: 223px;
}
.personal-container{
  height: 465px;
  width: 100%;
  background: white;
  margin-bottom: 8px;
  border: 1px solid;
  border-color: gray;
  border-radius: 2px;
}
.personal-data{
  text-align: left;
  margin-left: 30px;
  vertical-align: top;
}
.name{
  font-weight: bold;
  font-size: 26px; 
}
.job{
  font-size: 16px;
  padding-top:10px;
}
.country{
  padding-top:10px;
}
.msg-btn{
  margin-left:30px;
  margin-top:20px;
  background:lightskyblue;
}
.left-side{
  width:60%;
  display: inline-block;
}
.right-side{
  width:32%;
  display:inline-block;
  height:150;
  vertical-align: top;
  margin-left:50px;
  text-align: center;
}
.info-container{
  width:100%;
  display:inline-block;
}
#marginleft10{
  margin-left:10px;
}
.skills-container{
  width:211px;
  display:inline-block;
  border: 1px solid;
  border-color:gray;
  background:white;
  text-align: center;
  vertical-align: top;
}
.title{
  font-size: 20px;
  width:50%;
  border-bottom: 1px solid;
  border-color:grey;
  font-weight: bold;
  margin:auto;
}
.skill-intity{
  font-size:18;
  width: 60%;
  border: 1px solid;
  border-color:gray;
  margin-top :10px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-left:5px;
  height: 75px;
  display:flex;
}


.experience-entity{
border: 1px solid;
border-color:gray;
height: 100px;
background: white;
margin-bottom: 8px;

}
.experience-img{
  border-radius: 50%;
  margin-left:10px;
  border :1px solid;
  border-color:gray;
  vertical-align: center;
  margin-top: 15px;
}
.experience-data{
  display:inline-block;
  text-align: left;
  margin-left:10px;
  vertical-align: top;
  padding-top:37px;
  width:7%;
  height: 100%;
}
.com-nam{
  width:40%;
}
.bor-left{
  border-right: 1px solid;
  border-color:gray;
}
.experience-container{
  width:772px;
  margin-right:8px;
  display:inline-block;
}
.edit{
  display:inline-block;
  vertical-align: top;
}
.edit-panel{
  width:35%;
  margin-top:10px;
  text-align: left; 
  height: 75px;
  margin-bottom: 10px;
}
.edit-btn{
  padding:5px;
  background:skyblue;
  border:none;
  margin:2.5px;
  width:80%;
  border-radius: 5px;
}
.skill-name{
 line-height: 70px;
 vertical-align: middle; 
 height: 75px; 
}
.opr-btn{
  display: inline-block;
}
.experience-edit{
  vertical-align: top;
  width:10%;
  padding-top:10px;

}

