@model FeedsViewModel
<link rel="stylesheet" href="~/Content/connectionsheet.css">




<div class="main-container">
    <div class="experience-container" id="connectionz">
        @Html.Partial("_PartialConnections", Model)
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryabs")
