################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Linkedin/App_Data/aspnet-Linkedin-20190208024831.mdf
