
<link rel="stylesheet" href="~/Content/infoauthstylesheet.css">


<div class="main-container">
    <div class="profile-container">
        <div class="personal-container">
            <div class="profile-background"></div>
            <img src="~/Resource/pic.png" class="profile-img" alt="">
            <div class="info-container">
                <div class="left-side">
                    <div class="personal-data">
                        <div class="name">Scorias El Habeed</div>
                        <div class="job">Hbeed at autohabd</div>
                        <div class="country">Egypt</div>
                    </div>
                    <div class="opr-btn">
                        <button type="submit" class="btn btn-default msg-btn">Add Experience</button>
                    </div>
                    <div class="opr-btn">
                        <button type="submit" class="btn btn-default msg-btn">Add Skill</button>
                    </div>
                </div>
                <div class="right-side">
                    <div class="fa fa-users icon"></div><span id="marginleft10">69 Connection</span>
                </div>
            </div>
        </div>
        <div class="experience-container">
            <div class="experience-entity">
                <img class="experience-img" src="~/Resource/pic.png" alt="" width="70px" height="70px">
                <div class="experience-data com-nam">Hbood.inc</div>
                <div class="experience-data">From:</div>
                <div class="experience-data bor-left">2015</div>
                <div class="experience-data">To :</div>
                <div class="experience-data bor-left">2018</div>
                <div class="experience-data experience-edit">
                    <div><button class="edit-btn">Edit</button></div>
                    <div><button class="edit-btn">delete</button></div>
                </div>
            </div>
            <div class="experience-entity">
                <img class="experience-img" src="~/Resource/pic.png" alt="" width="70px" height="70px">
                <div class="experience-data com-nam">Hbood.inc</div>
                <div class="experience-data">From:</div>
                <div class="experience-data bor-left">2015</div>
                <div class="experience-data">To :</div>
                <div class="experience-data bor-left">2018</div>
                <div class="experience-data experience-edit">
                    <div><button class="edit-btn">Edit</button></div>
                    <div><button class="edit-btn">delete</button></div>
                </div>
            </div>
            <div class="experience-entity">
                <img class="experience-img" src="~/Resource/pic.png" alt="" width="70px" height="70px">
                <div class="experience-data com-nam">Hbood.inc</div>
                <div class="experience-data">From:</div>
                <div class="experience-data bor-left">2015</div>
                <div class="experience-data">To :</div>
                <div class="experience-data bor-left">2018</div>
                <div class="experience-data experience-edit">
                    <div><button class="edit-btn">Edit</button></div>
                    <div><button class="edit-btn">delete</button></div>
                </div>
            </div>
        </div>
        <div class="skills-container">
            <div class="title">Skills</div>
            <div class="skill-intity edit">
                <div class="skill-name">Leadership</div>
            </div>
            <div class="opr-btn edit edit-panel">
                <div><button class="edit-btn ">Edit</button></div>
                <div><button class="edit-btn ">delete</button></div>
            </div>
            <div class="skill-intity edit">
                <div class="skill-name">Leadership</div>
            </div>
            <div class="opr-btn edit edit-panel">
                <div><button class="edit-btn ">Edit</button></div>
                <div><button class="edit-btn ">delete</button></div>
            </div>
            <div class="skill-intity edit">
                <div class="skill-name">Leadership</div>
            </div>
            <div class="opr-btn edit edit-panel">
                <div><button class="edit-btn ">Edit</button></div>
                <div><button class="edit-btn ">delete</button></div>
            </div>
        </div>
    </div>

</div>
