@model FeedsViewModel

<div class="friends-container" id="friendz">

    <div class="friends-header">
        <span class="font-18">Suggested Connections</span>
    </div>

    @foreach (var user in Model.Users)
    {
        if (!Model.FriendsId.Contains(user.Id))
        {
            <div class="friends-elements">
                <div class="sug-frnd-data">
                    @{
                        if (user.Image == null)
                        {
                            <img class="frnd-img" src="~/Resource/propic.png" alt="" width="50px" height="50px">
                        }
                        else
                        {
                            <img class="frnd-img" src="@user.Image.Path" alt="" width="50px" height="50px">
                        }
                    }


                    <div class="frnd-name">
                        <div>@user.FirstName</div>
                    </div>

                    <button class="fa fa-plus-square add-friend-btn font-30" onclick="redirectToAction({ID:'@Model.ID',FriendID:'@user.Id'})"></button>
                </div>
            </div>
        }
        else
        {
            continue;
        }
    }

</div>

