@model FeedsViewModel

<div class="friends-container" id="friendz">

    <div class="friends-header">
        <span class="font-18">Suggested Connections</span>
    </div>

    @foreach (var user in Model.Users)
    {
        if (!Model.FriendsId.Contains(user.Id))
        {
            <div class="friends-elements">
                <div class="sug-frnd-data">
                    <img class="frnd-img" src="~/Resource/pic.png" alt="" width="50px" height="50px">
                    <div class="frnd-name">
                        <div>@user.FirstName</div>
                    </div>

                    <button class="fa fa-plus-square add-friend-btn font-30" onclick="redirectToAction({ID:'@Model.ID',FriendID:'@user.Id'})"></button>
                </div>
            </div>
        }
        else
        {
            break;
        }
    }

</div>

<script>
    function redirectToAction(obj) {
        $.ajax({
            url: '/Feed/Add',

            data: obj,

            success: function (data) {
                var result = $('<div />').append(data).find('#friendz').html();
                $('#friendz').html(result);
            },

            type: 'POST'
        });
    }
</script>

