@model SearchViewModel

<link rel="stylesheet" href="~/Content/connectionsheet.css">





@{
    if (Model.SearchedUsers.Count > 0)
    {
        foreach (ApplicationUser user in Model.SearchedUsers)
        {

            <div class="experience-entity">
                @{
                    if (user.Image == null)
                    {
                        <img class="experience-img" src="~/Resource/propic.png" alt="" width="70px" height="70px">
                    }
                    else
                    {
                        <img class="experience-img" src="@user.Image.Path" alt="" width="70px" height="70px">

                    }
                }

                <div class="experience-data com-nam">
                    @{
                        string s = user.FirstName + " " + user.LastName;
                    }
                    <div>@Html.ActionLink(s, "DisplayUser", "Person", new { RequiredUserID = user.Id, ID = Model.ID }, new { style = "color:Black" })</div>
                    <div>
                        @{if (user.Experiences != null)
                            {
                                if (user.Experiences.Count > 0)
                                {
                                    @user.Experiences[0].Content
                                }
                                else
                                {
                                    <span>Looking for a decent job for a living.</span>

                                }
                            }
                            else
                            {
                                <span>Looking for a decent job for a living.</span>
                            }
                        }

                    </div>
                </div>
            </div>
        }


    }
    else
    {
        <div class="experience-entity" style="font-weight:bold;text-align:center;font-size:37px">There is no users with such name</div>
    }
}

@Scripts.Render("~/bundles/jquery")

